
docs/energical_catalogue_produits.csv
docs/energical_arbres_decision.json
docs/energical_dialogues_clients.json
docs/energical_dictionnaire_donnees.csv

.env
*.csv
*.json
pycache/
.venv/
*.pyc
chroma_db/
faiss_index/